.fundo{
    position: absolute;
    width: 100%;
    height: 900px;
   background: rgb(255,255,255);
    left: 0px;
    top: 1px;
    
    
    background: linear-gradient(180deg, rgb(0, 225, 255) 35%, rgb(255, 255, 255) 100%);
background-repeat: no-repeat;

}

.apre{

    position: absolute;
    width: 600px;
    height: 106px;
    left: 670px;
    top: 88px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 54px;
    text-align: center;
    
     color: #000000;


}

.objetivo1{

    position: absolute;
    width: 900px;
    height: 106px;
    left: 100px;
    top: 300px; 

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    text-align: center;
    
    color: #000000;
}


.objetivo2{

    position: absolute;
    width: 900px;
    height: 106px;
    left: -150px;
    top: 400px; 

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    text-align: center;
    
    color: #000000;
}



.objetivo3{

    position: absolute;
    width: 900px;
    height: 106px;
    left: 110px;
    top: 490px; 

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    text-align: center;
    
    color: #000000;


}


.objetivo4{

    position: absolute;
    width: 900px;
    height: 106px;
    left: 67px;
    top: 588px; 

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    text-align: center;
    
    color: #000000;

}


.objetivo5{

    position: absolute;
    width: 900px;
    height: 106px;
    left: -86px;
    top: 680px; 

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    text-align: center;
    
    color: #000000;


}